<% provide(:title, @user.name) %>
<h1>Update your profile</h1>

<div class="gravatar_edit">
	<%= gravatar_for @user %>
	<a href="http://gravatar.com/emails" target="_blank" rel="noopener">change</a>
</div>

<%= render 'form', user: @user %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
