@mixin parallax($perspective, $scale){
  .parallax-container {
    @include perspective($perspective);
    @include origin-x(50);
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behaviour: smooth;
    .parallax-group {
      @include transform-style(preserve-3d);
      position: relative;
      height: 500px; /* fallback for older browsers */
      height: 100vh;
      .parallax-layer {
        @include origin-x(50);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
      .parallax-speedy {
        $translateZ: 2;
        @include transform(translateZ($translateZ*$scale*1px) scale(1+($translateZ*-1.0)/$perspective));
        z-index: $translateZ;
      }
      .parallax-quick {
        $translateZ: 1;
        @include transform(translateZ($translateZ*$scale*1px) scale(1+($translateZ*-1.0)/$perspective));
        z-index: $translateZ;
      }
      .parallax-moderate {
        $translateZ: 0;
        @include transform(translateZ($translateZ*$scale*1px) scale(1+($translateZ*-1.0)/$perspective));
        z-index: $translateZ;
      }
      .parallax-slow {
        $translateZ: -1;
        @include transform(translateZ($translateZ*$scale*1px) scale(1+($translateZ*-1.0)/$perspective));
        z-index: $translateZ;
      }
      .parallax-crawl {
        $translateZ: -2;
        @include transform(translateZ($translateZ*$scale*1px) scale(1+($translateZ*-1.0)/$perspective));
        z-index: $translateZ;
      }
    }
  }
}

@include parallax(300, 100);